In [122]:
from datetime import datetime
from datetime import timedelta
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine, load_boston

raw_data = load_boston()
df = pd.DataFrame(data=raw_data['data'],columns=raw_data['feature_names'])

# Data Manipulation

https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html

- IMPUTATION, `df.fillna(value=0), df.dropna(), df.drop_duplicates()`.
- NEW COLUMN, i.e. `df.assign(new=df.col1 + df.col2), df.assign(new=lambda x: x.col1 * 2)`.
- WHERE, i.e. `df[(df['col1'] == 1]) & (df['col2'] > 5)], df[(df['col1'] == 1]) | (df['col2'] > 5)], df[~df['col1'].isin(list)]`.
- IS NULL, i.e. `df['col1'].isna(), df['col1'].notna()`.
- FILL NULL, i.e. `df.fillna(value=0)`.
- GROUP BY, i.e. `df.groupby('col1').agg({'col2': np.mean, 'col3': np.size}), df.groupby(['col1', 'col2']).agg({'col3': [np.size, np.mean]})`.
- GROUP BY AGGREGATE, i.e. `df.groupby('col1')['col2'].apply(lambda x: x[x > 5].count())`.
- JOIN, i.e. `df.join(df, on=['col1', 'col2'], how='left'), df1.merge(df2, left_on='key1', right_on='key2', how='left')`.
- SORT, i.e. `df.sort_values(by='col1', ascending=True)`.
- CONCAT, i.e. `pd.concat([df1, df2], axis=0)`.
- RANK, i.e. `df['col1'].rank(method='first', ascending=False)`.
- SHIFT, i.e. shift down 3 rows `df.shift(periods=3)`.
- WINDOW, i.e. `df.rolling(window=5).mean()`.
- DATE, `date = datetime.now(), date = datetime(2020, 2, 18), date = datetime.strptime('2020-02-18', "%Y-%m-%d")`.
- DATE DIFF, `(datetime(2020, 2, 18) - datetime(2020, 2, 17)).days == 1, start_date = end_date - timedelta(days=7).`
- PIVOT, `df.pivot(index='col1', columns='col2', values='col3' | ['col3'. col4])`

In [30]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33